name: ios

on:
    push:
        branches:
        - master
        - stable
        - next
    pull_request:
        branches:
        - master
        - stable
        - next

jobs:
    ios-simulator:
        runs-on: macos-latest
        steps:   
        - uses: actions/checkout@v4
        - name: compile
          run: |
                rustup target add aarch64-apple-ios-sim
                cargo build --target aarch64-apple-ios-sim
